# MongoDB Connection URI
# Example: mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/internhive?retryWrites=true&w=majority
MONGODB_URI=your_mongodb_connection_uri_here

# Better Auth Configuration
BETTER_AUTH_SECRET=your_better_auth_secret_here
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000
